:root {
  --moss-green: #8f9b82ff;
  --old-gold: #c8b95dff;
  --ash-gray: #c5cabcff;
  --ebony: #576448ff;
  --bistre: #3c2f1eff;
  --dark-gray: #636363;
  --gray: rgb(176, 176, 176);
  --bright-green: #0fb40f;
}

.h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
  padding: 60px 0;
  padding-top: 100px;
  scroll-margin-top: 80px;
}

.room-img {
  height: 220px;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .room-img {
    height: 180px;
  }
}

html {
  scroll-behavior: smooth;
}

.scroll-down {
  font-size: 2rem;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  animation: bounce 2s infinite;
  text-decoration: none;
  color: inherit;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

.scale-img-wrapper {
  overflow: hidden;
}
.scale-img-wrapper img {
  transition: scale 0.3s ease-in-out;
}
.scale-img-wrapper img:hover {
  scale: 1.1;
  transition: scale 0.3s ease-in-out;
}

body.main-body {
  font-family: "Poppins Regular" "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  --bs-body-font-family: "Poppins Regular", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-family: "Lato", sans-serif; */
  font-family: "Poppins Regular" "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

.small-title {
  color: rgb(9, 112, 9);
}

.title {
  font-size: 2.5rem;
  font-family: "Playfair ExtraBold";
}
.horizontal-center {
  text-align: center;
  margin: 0 auto;
  width: min(800px, 100%);
}
